* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}
.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(bg.jpg);
  background-size: cover;
  color: rgb(15, 13, 13);
  text-align: justify;
}

.top-wrapper h1 {
  opacity: 5;
  font-size: 45px;
  letter-spacing: 7px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-signup {
  margin: 20px 0;
  font-size: 21px;
  opacity: 10;
  background-color: #295fb3;
  color: #d2b993;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 7px #020239;
}
.btn-signup:active{
    color:#d2b993;
    position: relative;
    top:7px;
    box-shadow: none;
  }
.our-service{
  background-color: #b78f51;
}
.our-service h1{
  text-align: center;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 60px 0px;
  text-align: center;
}
.img-our-service{
  width: 300px;
  margin-top: 0px;
}
img:hover {
  transform: scale(0.5);
  transition: all 1s ease;
}

header {
  height: 55px;
  width: 100%;
  background-color: #d2b993;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 70px;
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(2, 2, 20);
  display: block;
  float: left;
  transition: all 0.5s;
}
.menu-icon{
  display: none;
}

.flex-list {
  display: flex;
}
.flex-list li {
  flex: auto;
}

/* Tata letak untuk Tablet */
@media (max-width: 1000px) {
  .flex-list {
    flex-wrap: wrap;
  }
  .flex-list li {
    width: 50%;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h6 {
    font-size: 20px;
  }
}

/* Tata letak untuk Smartphone */
@media (max-width:670px) {
  .flex-list{
    flex-direction:column;
  }
  .flex-list li{
    margin:0 auto;
  }
  .btn {
    width: 100%;
  }
  .top-wrapper h1 {
    font-size: 24px;
  }
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .top-wrapper {
    text-align: left;
  }
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #0b296a;
  color: #d2b993;
}

